<!DOCTYPE html>
<html>
<head>
	<title>Quotes revisited</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Welcome to quotes</h1>
	<form method="post" action="/quotes">
		<label>Your Name: <input type="text" name="name"></label>
		<label>Your quote: <textarea name="quote"></textarea></label>
		<input class= "btn" type="submit" value="Add my quote!">
		<a class= 'btn' href="/quotes">Skip to quotes!</a>
	</form>
</body>
</html>