* {
	margin: 0 auto;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	margin-top: 30px;
}
form {
	text-align: center;
	width: 40%;
}
label {
	display: block;
	vertical-align: top;
	margin: 20px;
	font-size: 15px;
}
.btn {
	border: 2px solid darkgreen;
	text-decoration: none;
	font-size: 10px;
	background: green;
	color: white;
	border-radius: 20px;
	padding: 5px;
}
.btn:hover {
	cursor: pointer;
}
#quotes {
	margin-top: 50px;
	width: 70%;
}
p {
	text-align: center;
	font-size: 15px;
}
hr {
	margin: 20px auto;
}